body {
  margin: 0;
  border: 0;
  background: url(bg.jpg) no-repeat;
  background-size: 100% auto;
}

.header{
  width:1100px;
  height: 160px;
  background: url(header-bg.jpg) no-repeat;
  background-size: 100%auto;
  margin: 110px auto 0 auto;
}

.header h1{
  font-size: 40px;
  color:#FFFFFF;
  text-align: center;
  margin: -40px;
  font-family: 'open sans', helvetica, arial, 'Microsoft YaHei', 微软雅黑, STXihei, 华文细黑, sans-serif;
  font-kerning: auto;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  -variant-ligatures: normal;
  font-weight: normal;
}

.avatar {
  width:140px;
  height:140px;
  border-radius: 100%;
  background: url(header.jpg) no-repeat;
  background-size: 100%auto;
  position: relative;
  top: -67px;
  margin:0 auto;
  border: 3px solid #FFFFFF;
}
