body {
  margin: 0;
  border: 0;
  background: url(bg.jpg) no-repeat fixed;
  background-size: cover;
  background-repeat: repeat-y;
  font-family: 'open sans', helvetica, arial, 'Microsoft YaHei', 微软雅黑, STXihei, 华文细黑, sans-serif;
  font-kerning: auto;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  -variant-ligatures: normal;
  font-weight: normal;
}

.header{
  width:1100px;
  height: 160px;
  background: url(header-bg.jpg) no-repeat;
  background-size: 100%auto;
  margin: 110px auto 0 auto;
}

.header h1{
  color:#FFFFFF;
  text-align: center;
  margin: -50px;
  font-size: 40px;
}

.avatar {
  width:140px;
  height:140px;
  border-radius: 100%;
  background: url(header.jpg) no-repeat;
  background-size: 100%auto;
  position: relative;
  top: -67px;
  margin:0 auto;
  border: 3px solid #FFFFFF;
}

#menu {
  width: 1100px;
  height: 50px;
  background-color: rgb(51, 51, 51);
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

#menu>li {
  list-style: none;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  margin: 0 30px;
}

#menu>li a {
  color: #FFF;
  text-decoration: none;
}

#menu>li a.current {
  text-decoration: underline;
}

#menu>li a:hover {
  text-decoration: underline;
}

hr{
  width: 1100px;
  margin: 0 auto;
  color: #B9B4B4;
}

.middle_white_board {
  background-color: white;
  margin: 0 auto;
  padding-bottom: 10px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 70px;
  text-align: center;
  height: 370px;
  width: 960px;
}

.work_center{
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.content{
  color: rgb(51, 51, 51);
  display: block;
  font-size: 28px;
  font-style: normal;
  font-weight: 300;
  height: 28px;
  letter-spacing: 3px;
  line-height: 28px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  text-align: center;
  word-wrap: break-word;
  zoom: 1;
}

.s-line{
  background-attachment: scroll;
  background-color: rgb(51, 51, 51);
  height: 3px;
  margin:16px auto 20px auto;
  width: 80px;
}

.p-center {
  color: rgb(98, 104, 111);
  display: block;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  height: 44px;
  line-height: 22.3999996185303px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  text-align: center;
  width: 960px;
  zoom: 1;
}

.content2{
  word-wrap: break-word;
}


.space{
  display: block;
  height: 40px;
  width: 960px;
}

.three_work_pic{
  display: block;
  height: 222px;
  width: 960px;
}

.one_work{
  display: inline-block;
  float: none;
  line-height: 16px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  vertical-align: top;
  width: 290px;
  height: 222px;
  zoom: 1;

}
.one_work_center {
  display: block;
  font-family: 'open sans', helvetica, arial, 'Microsoft YaHei', 微软雅黑, STXihei, 华文细黑, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 16px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  position: relative;
  text-align: center;
  width: 290px;
  height: 190px;
  zoom: 1;
}

.work_name {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 7px;
  height: 20px;
  line-height: 20px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  text-align: center;
  width: 290px;
  word-wrap: break-word;
  zoom: 1;
}


.work_info{
  color: rgb(98, 104, 111);
  display: block;
  font-family: 'open sans', helvetica, 'Microsoft YaHei', 微软雅黑, STXihei, 华文细黑, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  height: 44px;
  line-height: 22.3999996185303px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  text-align: center;
  width: 290px;
  word-wrap: break-word;
  zoom: 1;
}

.middle_white_board2 {
  background-color: white;
  margin: 0 auto;
  padding-bottom: 10px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 70px;
  text-align: center;
  height: 850px;
  width: 960px;
}

.repeatex{
  width: 960px;
  height: 200px;
  text-align: left;
  margin-bottom: 30px;
}

.expicbox{
  width: 280px;
  height: 200px;
  text-align: right;
  display: inline-block;
  float: left;
}


.expicbox2{
  width: 265px;
  height: 190px;
  padding: 10px 15px 0 0;
  text-align: right;
  display: inline-block;
  float: left;
}

.exwordsbox{
  width: 625px;
  height: 200px;
  padding-left: 50px;
  text-align: left;
  display: inline-block;
}

.company{
  color: rgb(51, 51, 51);
  margin-bottom: 8px;
  font-size: 23px;
  font-style: normal;
  font-weight: 300;
  line-height: 23px;
  float: left;
  width: 620px;
}
.timethrough{
  color: rgb(98, 104, 111);
  margin-bottom: 30px;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 23px;
  float: left;
  width: 620px;
}

.exwordsinfo{
  color: rgb(98, 104, 111);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 23px;
  width: 560px;
}
